<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Testinium Test Automation" verbose="1" parallel="tests" thread-count="1" configfailurepolicy="continue">

  <!-- <listeners>
       <listener class-name="com.qa.ExtentReportListener.ExtentReportListener" />
  </listeners>-->
  <test name="Testinium Test Cases" annotations="JDK" preserve-order="true">
    <classes>
          <class name="com.pro.qa.testcases.LoginPageTest"/>
          <class name="com.pro.qa.testcases.HomePageTest"/>
          <class name="com.pro.qa.testcases.BasketPageTest"/>
    </classes>
  </test>
</suite> 